@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Alligator</title>
            <!-- Bootstrap Core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/codemirror.css")' />
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/mergely.css")' />
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/styles.css")' title="mainStyle">
    </head>
    <section class="well well-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Alligator - Semantic Integration for Industry 4.0 Standards</h2>
                </div>
            </div>
        </div>
    </section>

    <body class="well well-lg" >
        @* And here's where we render the `Html` object containing
        * the page content. *@
        @content

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("JSXTransformer.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.fullPath("react", "react.js"))'></script>

        <div  id="app"></div>
        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/codemirror.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/mergely.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/client.min.js")'></script>

    </body>


</html>
